<!DOCTYPE html>
<html>
<head>
	<title>PG Booking</title>
</head>
<body style="background-color: whitesmoke;">
	<div style="padding-left: 50px;padding-right: 50px;">
	<div style="background-color: blue;padding:10px;">
		<a href="https://bookingpg.herokuapp.com/" style="text-decoration: none;">
			<h1 style="color:red;margin-left: 20px;">Pg Booking</h1></a>
	</div>
	<div style="background-color: white;height:630px;margin-top: -30px;">
		<p style="color:black;text-align: center;padding-top: 20px;">{{message}}</p>
	</div>
	<div style="background-color: blue;height:65px;text-align: center;margin-top: -20px;">
		<a href="https://bookingpg.herokuapp.com/" style="color:white;font-size: 20px;"><p style="padding-top: 20px;">https://bookingpg.herokuapp.com/</p></a>
	</div>
	</div>
</body>
</html>